.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: var(--padding);
}

.logo {
    height: var(--logoSize);
    width: var(--logoSize);
}

.logo:hover {
    cursor: pointer;
}

.navigationButtons {
    padding: var(--padding);
    gap: var(--gap);
    align-items: center;
    display: flex;
}

.navigationButton {
    font-size: 1rem;
    height: fit-content;
    padding: var(--padding);
}

.navigationButton:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .navigationButtons {
        display: none;
    }

    .navigation {
        justify-content: center;
    }
}