.dark-mode {
    --background-color: #010101;
    --foreground-color: #0e0e0e;
    --text-color: #ffffff;
}

.light-mode {
    --background-color: #ffffff;
    --foreground-color: #eeeeee;
    --text-color: #010101;
}

* {
    margin: 0px;
    font-family: system-ui, 'Segoe UI';
    font-weight: 500;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    transition: 0.3s;
}

.icon {
    fill: var(--text-color);
}

img {
    object-fit: contain;
}

video {
    object-fit: contain;
}

iframe {
    object-fit: contain;
}

.player:hover {
    cursor: pointer;
}

h1 {
    font-weight: bold;
}

h4 {
    font-weight: 400;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

h6 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--background-color);
}

a {
    font-size: 24px;
    text-decoration: none;
}

hr {
    margin: 128px 0px;
    border-style: hidden;
}

.nav {
    height: 100%;
    width: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 48px;
    transition: 0.3s;
}

.nav a {
    padding: 8px 8px 8px 32px;
    display: block;
    background-color: var(--background-color);
    transition: 0.3s;
}

.nav a:hover {
    color: #dddddd;
}

.toggle-topbar {
    position: absolute;
    top: 0;
    right: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 12;
}

.open-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
}

.topbar {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--background-color);
    transition: 0.3s;
}

.page {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.text {
    padding: 8px;
    transition: 0.3s;
}

.landscape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.portrait {
    padding: 8px;
}

.square {
    padding: 8px;
}

.post-container {
    margin: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--foreground-color);
    transition: 0.3s;
}

.landscape img {
    width: 80vw;
    border-radius: 12px;
    padding: 6px;
}

.caption {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.post-title {
    padding: 4px 16px;
}

.post-desc {
    padding: 4px 16px;
}

.post-date {
    padding: 8px 16px 16px 16px;
}

.title {
    margin: 64px 0px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

/*BUTTONS BUTTONS BUTTONS*/
/*BUTTONS BUTTONS BUTTONS*/
/*BUTTONS BUTTONS BUTTONS*/

.toggle {
    display: flex;
    justify-content: center;
}

.toggle button {
    margin: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 2rem;
    border-style: none;
    transition: 0.3s;
}

.toggle button:hover {
    cursor: pointer;
    background-color: var(--text-color);
    transition: 0.3s;
}

.material-icons {
    color: var(--text-color);
    margin: 4px;
    transition: 0.3s;
}

.toggle button:hover .material-icons {
    color: var(--background-color);
    transition: 0.3s;
}

.material-symbols-rounded {
    color: var(--text-color);
    scale: 1.6;
    margin: 20px 16px;
    transition: 0.3s;
}

/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/

footer {
    width: 100%;
    margin-top: 32px;
    padding: 32px 0px;
    bottom: 0;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: 0.3s;
}

footer a {
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.email {
    padding: 12px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 2rem;
}

.copyright {
    margin: 24px;
}

/*TRADING CARDS TRADING CARDS TRADING CARDS*/
/*TRADING CARDS TRADING CARDS TRADING CARDS*/
/*TRADING CARDS TRADING CARDS TRADING CARDS*/

.collection {
    display: flex;
    justify-content: center;
}

.trading-card {
    display: flex;
    justify-content: center;
    margin: 16px;
    perspective: 1000px;
}

.trading-card:hover {
    cursor: pointer;
}

.card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/*BUTTON BUTTON BUTTON*/
/*BUTTON BUTTON BUTTON*/
/*BUTTON BUTTON BUTTON*/

.button-container {
    margin: 64px 8px;
    display: flex;
    justify-content: center;
}

.button {
    padding: 16px;
    color: var(--background-color);
    background-color: var(--text-color);
    border-style: none;
    border-radius: 2rem;
}

.button:hover {
    cursor: pointer;
}

/*DESKTOP DESKTOP DESKTOP*/
/*DESKTOP DESKTOP DESKTOP*/
/*DESKTOP DESKTOP DESKTOP*/

@media only screen and (min-width: 769px) {
    .text {
        max-width: 50vw;
    }

    .button {
        width: 45vw;
    }

    .landscape img {
        max-width: 45vw;
        height: auto;
    }

    .landscape video {
        width: 45vw;
        height: auto;
    }

    .landscape iframe {
        width: 45vw;
        height: 25.3vw;
    }

    .post-desc {
        max-width: 35vw;
    }

    .portrait {
        display: flex;
        flex-direction: grid;
        justify-content: center;
    }

    .portrait img {
        max-width: 25vw;
    }

    .square {
        display: flex;
        flex-direction: grid;
        justify-content: center;
    }

    .square img {
        max-width: 40vw;
    }

    .card {
        width: 20vw;
    }
}

/*SMARTPHONE SMARTPHONE SMARTPHONE*/
/*SMARTPHONE SMARTPHONE SMARTPHONE*/
/*SMARTPHONE SMARTPHONE SMARTPHONE*/

@media only screen and (max-width: 768px) {
    .text {
        max-width: 80vw;
    }

    .button {
        width: 80vw;
    }

    .landscape img {
        max-width: 80vw;
        height: auto;
    }

    .landscape video {
        width: 80vw;
        height: auto;
    }

    .landscape iframe {
        width: 80vw;
        height: 45vw;
    }

    .post-desc {
        max-width: 72vw;
    }

    .portrait {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portrait img {
        max-width: 80vw;
    }

    .square {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .square img {
        max-width: 80vw;
    }

    .collection {
        flex-direction: column;
    }

    .card {
        width: 80vw;
    }
}
