.footer {
    background-color: var(--backgroundColor);
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.footerLinks {
    display: flex;

    align-items: center;
    gap: var(--gapXL);
    padding: 0 var(--paddingXL);
}

.footerContact {
    color: var(--textColor);
}


.footerLink {
    display: flex;
    height: fit-content;
    padding: var(--paddingM);
    transition: 200ms ease-in-out;
    align-items: center;

    gap: var(--gapS);
}

.footerLink p {
    font-family: 'Unageo';
    font-weight: 600;
    font-size: 1.2rem;

    color: var(--textColor);
}

.footerLink:hover {
    scale: 1.1;
    transition: 200ms ease-in-out;
}

.footerLink img {
    width: 3rem;
    height: 3rem;
    user-select: none;
}

.footerDetail {
    display: flex;
    height: fit-content;
    user-select: none;
}

.footerDetailMobile {
    display: none;
    height: fit-content;
    user-select: none;
}

.footerClock {
    font-family: 'Unageo';
    font-size: 10rem;
    font-weight: 800;
    color: var(--textColor);
    padding: 0 var(--paddingL);
    user-select: none;
}

.verticalDivider {
    height: 2rem;
    border-right: 2px solid var(--borderColor);
}

@media (max-width: 768px) {
    .footerLinks {
        flex-direction: column;
        gap: var(--gapS);
        padding: 0 var(--paddingL);
    }

    .footerLink p {
        font-size: 1rem;
    }

    .verticalDivider {
        display: none;
    }

    .footerDetail {
        display: none;
    }

    .footerClock {
        text-align: center;
        font-size: 8rem;
        padding: 0 var(--paddingM);
    }

    .footerDetailMobile {
        display: flex;
        height: fit-content;
        user-select: none;
    }
}