.featuredSection {
    display: flex;
    gap: var(--gapL);
}

.featuredPoster {
    border-radius: var(--innerBorderRadius);
}

.featuredPoster img {
    border-radius: var(--innerBorderRadius);
    height: 32rem;
}

.featuredOverview {
    font-family: 'Unageo';
    color: var(--textColor);
    font-size: 1.2rem;
}

.featuredTitle {
    font-family: 'Unageo';
    font-size: 3rem;
    font-weight: 700;

    color: var(--textColor);
}

.posterDetail img {
    height: 100%;
}

.featuredWriters {
    display: flex;
}

.featuredWriters ul {
    display: flex;
    gap: var(--gapL);
}