.projectBody {
    max-width: var(--pageWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gapL);
    padding: var(--paddingL);
    border-bottom: var(--border) var(--borderColor);
}

.projectBody img {
    width: 100%;
    height: auto;
    border-radius: var(--innerBorderRadius);
    border: var(--border) var(--borderColor);
    margin: var(--marginXL) 0;
}

.projectBody p {
    font-family: 'Unageo';
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--textColor);
}